Deliverables/Phase 1/Implementation/*.bak
Deliverables/Phase 1/Implementation/__pycache__/*.pyc
.vscode/settings.json
Deliverables/Phase 1/Implementation/Template/*
Deliverables/Phase 1/Implementation/test.py
Deliverables/Phase 1/Implementation/agent_test.py
Deliverables/Phase 1/Implementation/log.log
**/__pycache__/